/* variables */
:root{
    --background: #1a1a1a;
    --toxic: #32a852;
    --text: 'Nunito','Lexend Deca', sans-serif;
    --toxicPurple: #191622;
    --purple: rgba(53,36,184,0.3);
}
*{
    color: white;
    font-family: var(--text);
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior:auto;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Navigation bar properties */
nav{
    /* border: 1px solid var(--toxic); */
    border-radius: 0rem 1rem 1rem 0rem;
    width: 20vw;
    height: 100%;

    position: fixed;
    left: 0rem;
    top: 0rem;
    /* width: 100%; */
    /* overflow: hidden; */
    transition: 1s ease;
}
nav #nav-links{
    overflow: hidden;
}
#nav-links>h1{
    margin: 1.5rem;
    font-size: 2rem;
}
h1,h2{
    color: var(--toxic);
}
#sidebar-active{
    display: none;
}
.open-sidebar, .close-sidebar{
    display: none;
}
.nav-slider {
    display: flex;
    border-radius: 0rem 1rem 1rem 0rem;
    height: 100vh;
    background-color: var(--purple);
    flex-direction: column;
    transition: all 0.5s ease; /* Smooth transition */
}
#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* To modify the links in the nav bar */
#nav-links>a{
    width: 90%;
    padding: 1rem;
    overflow: hidden;
    align-content: center;

    transition: all .5s;
}
/* Nav bar hover state */
#nav-links>a:hover{
    background-color: var(--toxic);
    box-shadow: inset -5px 5px 10px rgba(0,0,0,0.7);
}
.nav-slider>a{
    width: 10vw;
}
.nav-slider>h1{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    font-size: 2rem;
}
.Active-link{
    background-color: var(--toxic);
}
/* Nav bar sliding */
#nav-toggle{
    display: none;
    visibility: hidden;
}
.toggle{
    position: absolute;
    height: 3rem;
    width: 3rem;
    z-index: 0;
    background-color: var(--purple);
    top: 3%;
    left: 95%;
    
    cursor: pointer;
    border-radius: 1rem;
}
.profile{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Spacing in profile */
.profile>*{
    margin: .5rem;
}
/* Glow aroud image */
.profile img{
    box-shadow: 0 0 30px #32a852;
    border-radius: 100%;
}
.AboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#center-text{
    text-align: center;
}
.contents{
    max-width: 55vw;
    min-width: 50vw;

    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-content: center;
}
.contents:last-child{
    margin-bottom: 5rem;
}
.contents:first-of-type{
    margin-top: 5rem;
}
/* Cats page specific styles */
th{
    background-color: var(--toxic);
    padding: 1rem;
}
td{
    background-color: var(--purple);
    padding: 1rem;
    text-align: center;
}
tr{
    border-bottom: 1px solid white;
}
#pets-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
table{
    border-collapse:collapse;
    width: 100%;
}
section>#cats-table{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cat-personalities img{
    width: 50%;
    height: 50%;
}
#cat-personalities div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 1rem;
}

/* For Gaming */
#Gaming-Section>*{
    margin: 1rem;
}
#Gaming-Images{
    margin-bottom: 5rem;
}
#Gaming-Images>img{
    width: 100%;
    height: 50%;
    margin: 1rem;
}
/* AboutMe */
hr{
    margin: 2rem;
}
ol>li::marker{
    color: var(--toxic);
}
#Art-Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Art-Section>img{
    width: 50%;
    height: 50%;
    margin: 1rem;
}
/* Anime Section */
#Anime-Section>*{
    margin: 1rem;
}
#anime-pictures img{
    width: 50%;
    height: 50%;
}
#anime-pictures div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media(max-width: 600px) {
    .nav-slider{
        background-color: rgba(53,36,184,1);
        left: -100%;
        flex-direction: column;

        position: fixed;
        top: 0;
        z-index: 100;
        width: 70vw;

        box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
        transition: .5s ease-out;
    }
    #nav-links>a{
        width: 100%;
        padding: 1rem;
        text-align: center;
        
        transition: all .5s;
    }
    .open-sidebar, .close-sidebar{
        display: block;
    }
    .open-sidebar{
        position: absolute;
        top: 3%;
        left: 30%;
    }
    .close-sidebar{
        position: absolute;
        top: 3%;
        right: 5%;
    }
    #sidebar-active:checked ~ .nav-slider{
        left: 0;
        transition: all ease-in .5s;
    }
    #sidebar-active:checked ~ .open-sidebar{
        display: none;
    }
}
